@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Satisfy&display=swap');
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background: linear-gradient(to right, rgba(48, 139, 214, 0.856) 0%, rgba(178,221,238,255) 45%, rgba(178,221,238,255) 40%, rgb(236,236,236) 100%);
    /* background-color: rgba(102,164,168,255); */
    /* background-color:rgba(48, 139, 214, 0.856); */
    /* background-color: rgba(243,223,207,255) */

  }
  
  .sidebar-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    /* color: rgba(228,203,173,255); */
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding-bottom: 10px; 
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    z-index: 2;
    background-color: rgba(221,230,234,255);
    /* background-color: rgba(243,223,207,255); */
    
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    border: 1px solid rgb(90, 89, 89);
    box-shadow: 10px 10px 10px rgba(59, 59, 59, 0.5);
  }
  
  .sidebar.open {
    transform: translateX(0%);
  
  }
  .sidebar-content hr{
    /* margin-left: px; */
    margin-right: 5px;  
    margin-bottom: 12px;
    border: none;
    height: 1.5px;
    background-color: #2e2e2e;
  }
  .close-sidebar {
    position: absolute;
    top: 27px;
    right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    background-color: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
  }
  
  .sidebar-content {
    padding-left: 10px; 
    padding-top: 10px;
    margin-top: 10px;
    display: grid;
    flex-direction: column;
    
    /* line-height: 25px; */
    font-size: 20px;
  }
  .sidebar-content h1{
    display: flex;
    gap:15px;
    font-family: "Satisfy", cursive;
    font-weight: 550;
    font-style: normal;
    margin-bottom: 12px;
    padding-left: 7px;
    /* font-size: 0px;   */
  }
  
  .sidebar-content p,
  .sidebar-content a {
    display: block;
    color: #333333;
    padding: 8px 5px;
    text-decoration: none;
    
    margin-top: 3px;
    font-size: 1.1rem;
    padding-left: 5px;
  }
  .sidebaricons{
    display: flex;
  }
  .sidebaricons h3{
    padding-top: 7px;
    margin-left: 40px;
  }
  .navbar-logo {
    margin-right: auto;
    margin-left: 20px;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 12px;
    border: none;

  }
  
  .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: "Satisfy", cursive;
    font-weight: 200px;
    font-style: normal;
    font-size: 25px;
  }
  
  .nav-items li {
    margin-right: 60px;
    margin-bottom: 5px;
  }
  
  .nav-items a {
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
  }
  
  .logging-bar {
    display: flex;
    padding-top:1px;
  }
  .logging-bar p{
    font-size: 30px;
    padding-top: 20px;
  }
  @media (max-width: 768px) {
    .nav-items {
      display: none;
    }
  
    .sidebar-toggle {
      position: relative;
      z-index: 2;
    }
  
    .sidebar-toggle .fa-bars {
      color: #ffffff;
      font-size: 24px;
    }
  }

  .logohome{
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    
  }
  .logohome p{
    padding-left: 20px;
    font-family: "Satisfy", cursive;
    font-weight: 350;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  /* .logging-bar button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    background-color: #7d8083;
    border: none;
    outline: none;
    height: 44px;
    border-radius: 49px;
    font-size: 16px;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 350;
    font-style: normal;
  } */

  .profile-dropdownnav {
    position: relative;
    display: flex;
    align-items: center; 
    z-index: 1;
  }

  .profile-triggernav {
    color: rgb(0, 0, 0);
    font-size: 30px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .profile-dropdown-contentnav {  
    position: absolute;
    top: calc(100% + 20px); 
    left: 25%;
    transform: translateX(-50%); 
    width: 136px;
    background-color: #ffffff; 
    border-radius: 100px;
    /* border-color: #000000; */
    box-shadow: 10px 10px 10px rgba(59, 59, 59, 0.5);
    border-radius: 10px;
    padding: 3px ; 
    display: flex; 
    flex-direction: column; 
    /* border:1px solid rgb(89, 89, 89); */
    cursor: pointer;
  }
  
  .profileIconnav{
    padding: 3px 13px; 
    display: flex;
    align-items: center; 
    justify-content: center;
    border : 1px solid rgb(204, 204, 204); 
    cursor: pointer;
    border-radius: 5px;
    font-family:  " Open Sans";
    font-size: 20px;
  }
  
  .profile-dropdown-contentnav a {
    color: #333333;
    text-decoration: none; 
    padding: 8px 16px; 
    cursor: pointer;
  }
 
  .sidebariconpad{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* padding-top: 10px; */

  }