*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    text-align: center;
    display: grid;
    place-items: center;
    background-color: black;

}

body,html{
    width: 100lvw;
    height: 100lvw;
}

::-webkit-scrollbar {
    display: none;
}